# Build output
/bin/
/dist/
/cmd/gwen-ui/build/bin/

# Frontend
/ui/node_modules/
/ui/dist/
/ui/dist-hub/
/ui/package.json.md5

# Go test artefacts
*.test
*.out
client_secret_81572436926-bb2jak7ospcr6mrnb94odbvc2310mncn.apps.googleusercontent.com.json

.env